.layout {
  height: 100vh;
  padding: 0;
  background-color: #fff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  //background-color: #1e1e1e;

  :global {
    .content {
      height: calc(100vh - 40px);
      width: 100%;
      //overflow: auto;
    }
    .isLogin__check {
      display: none;
      &:checked + .tabs {
        height: 0px;
      }
    }
    .tabs {
      position: sticky;
      background-color: rgba(128, 128, 128, 0.1);
      top: 0;
      content-visibility: auto;
      transition: height 0.2s ease;
      height: 40px;

      .ant-tabs-nav {
        margin: 0;
        padding-left: 8px;
      }
      .tab__extra {
        padding-left: 15px;
        padding-right: 10px;
        .user__avatar {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
.select__wrapper {
  :global {
    .select__item {
      padding: 5px;
      border-radius: 8px;
      font-size: 13px;
      &:hover {
        color: #1677ff;
        background-color: #e6f4ff;
        font-weight: 700;
      }
    }
  }
}
